[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/akashvgnair
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/akashvgnair
	label-Verified = -1..+1 group user/akashvgnair
	push = group user/akashvgnair
	read = group user/akashvgnair
	rebase = group user/akashvgnair
	removeReviewer = group user/akashvgnair
	submit = group user/akashvgnair
[access "refs/heads/*"]
	create = group user/akashvgnair
	push = +force group user/akashvgnair
	pushMerge = group user/akashvgnair
	read = group user/akashvgnair
[access "refs/tags/*"]
	push = group user/akashvgnair
	push = +force group user/akashvgnair
